.filters {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 99;
	padding: 70px 16px 20px;
	&.showFilters {
		display: flex;
		flex-direction: column;
	}
	.filtersTop {
		display: flex;
		padding: 16px 0 0;
		.filtersTitle {
			flex-grow: 1;
		}
		.filtersTitleText {
			font-size: 1.4rem;
			color: #2E2E2D;
		}
		.filtersClose {
			cursor: pointer;
			padding: 8px;
			svg {
				display: block;
			}
		}
	}
	.categories {
		flex: 1 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		margin: 0 0 8px;
		p {
			margin: 0 0 8px;
		}
		.categoriesInner {
			overflow: scroll;
		}
	}
	.filterSection {
		flex: 2 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		margin: 0 0 8px;
		p {
			margin: 0 0 8px;
		}
		.filterOptions {
			overflow: scroll;
			.filterOption {
				display: flex;
				align-items: center;
			}
			.checkbox {
				width: 18px;
				height: 18px;
				border: 1px solid #cccccc;
				border-radius: 3px;
				margin: 0 8px 0 0;
				&.checked {
					background-color: #000;
				}
			}
		}
		&.wye_brands {
			flex: 1 1;
		}
	}
}