.address {
    margin: 0 0 8px;
    padding: 16px;
    border: 1px solid #eee;
    color: #ababab;
    cursor: pointer;
    transition: 0.2s ease-out;
    &.selected {
        cursor: default;
        color: #2E2E2D;
        background-color: #f7f7f7;
        border: 1px solid #A3BA00;
    }
    &:hover {
        background-color: #f7f7f7;  
        color: #848484;
        &.selected {
            color: #2E2E2D; 
        }
    }
    p {
        margin: 0;
    }
}