.product {
	display: block;
}

.products {
	padding: 0 0 80px;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	
}

.loadMore {
	padding: 24px 0 40px;
	width: 100%;
}

.showOptions {
	position: relative;
	z-index: 1;
	display: block;
	text-align: center;
	cursor: pointer;
	
	width: 100%;
	background: #DCE7ED;
	padding: 40px 20px 9px;
	margin: -40px 8px 0;
	border-radius: 0 0 26px 26px;
	transition: 0.25s ease-out;
	p {
		font-size: 0.9em;
		padding: 0;
		margin: 0;
		color: #7A8A93;
		transition: 0.25s ease-out;
	}
	&:hover {
		transform: translate(0, 2px);
		p {
			transform: translate(0, -1px);
		}
	}
}

.product {
	background: #F2F6F8;
	padding: 11px; 
	flex: 1 1 45%;
	max-width: 50%;
	border-radius: 28px; 
	position: relative;
	z-index: 2;
	// margin: 16px 0;
	@media screen and (max-width: 400px) {
		padding: 8px; 
	}

	.additionalOptions {
		display: block;
		> div {
			border-top: #DCE7ED solid 1px;
			margin: 8px 0;
			padding: 8px 0 0;
			&:last-child {
				margin: 8px 0 0;
			}
		}
	}
	.productInner {
		display: block;
		flex-wrap: wrap;
		padding: 40px 0;	
	}
	&.grid {
		flex: 1 1 45%;
	}
	&.single {	
		flex: 1 1 100%;
		max-width: 100%;
	}
	&.list {
		flex: 1 1 100%;
		max-width: 100%;
		.productInner {
			padding: 0px 0;	
		}
	}
}

